.forum__container {
  min-width: 700px;
}

.forum__container-header {
  margin-bottom: 30px;
}

.ant-table .ant-table-container .ant-table-content table thead.ant-table-thead .ant-table-cell {
  background-color: var(--secondary-color);
}

.forum__table-wrapper .ant-table {
  border-radius: 12px;
}

.forum__table__cell-color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.forum__table__cell-title {
  font-size: 18px;
}

.forum__table__cell-comments {
  font-size: 16px;
  line-height: 1;
}

.add__topic-modal .ant-modal-title {
  font-size: 24px;
}
