nav a {
  margin: 0 12px 0 0;
  color: var(--text-color);
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
nav a:last-of-type {
  margin: 0;
}
nav a:hover {
  color: var(--primary-color);
}
