.link {
  color: var(--primary-color);
  text-align: center;
  line-height: 24px;
  transition: all 0.3s ease-in-out;
}

.link-lighter {
  font-weight: 300;
}

.link-normal {
  font-weight: 400;
}

.link-bold {
  font-weight: 600;
}

.link-small {
  font-size: 16px;
}

.link-medium {
  font-size: 18px;
}

.link-large {
  font-size: 24px;
}

.link:hover {
  cursor: pointer;
  opacity: 0.7;
}
