@import url('../shared/styles/fonts/fonts.css');
@import url('../shared/styles/ant/ant.css');

:root {
  --primary-color: #f65e3b;
  --secondary-color: #f2ae78;
  --background-color: #e4c4ae;
  --light-background-color: #f8e6cd;
  --text-color: #333333;
  --grey-color: #a6a6a6;
  --element-color: #d9d9d9;
  --border-radius: 8px;
  background-color: var(--light-background-color);
  color: var(--text-color);
  font-family: Nunito Sans, Arial, sans-serif;
}
body {
  margin: 0;
}
.app {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3.ant-typography {
  margin-top: 0;
}

h3.ant-typography {
  font-weight: normal;
}
