.title__primary.ant-typography {
  color: var(--primary-color);
}
.ant-input {
  font-weight: bold;
}
.ant-form-item-explain-error {
  font-size: 14px;
}
.text__center-align {
  text-align: center;
}
.text__pre-wrap {
  white-space: pre-wrap;
}
.numeric-font {
  font-family: 'Londrina Shadow', Arial, sans-serif;
}
