.page-error-stub__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-error-stub__title {
  white-space: pre-wrap;
  text-align: center;
}
