.form {
  min-width: 440px;
}
.form__fields {
  width: 100%;
}
.form__field {
  width: 100%;
}
.form__control {
  width: 100%;
  position: relative;
}
.form_error {
  width: 100%;
  position: absolute;
  top: -24px;
  left: 0px;
  text-align: center;
  color: var(--primary-color);
  font-size: 16px;
  line-height: 20px;
}
